.aceEditor {
    position: absolute;
    width: 50% !important;
    height: 50% !important;
}

.dropdowns {
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dropdowns > div {
    margin: 0 2px 0 2px;
    width: 100px;
}

.dropdowns > div select {
    cursor: pointer;
    width: 100%;
    border: 1px solid white;
    border-radius: 0;
    background-color: rgba(37, 104, 148, 0.8);
    color: white;
    padding: 1px 10px;
}